<html>
<head>
<style>

   body {
    display: block;
    margin: 8px;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    background-color: #6699FF;
}
   
</style>
</head>

<!--##NO predefine-->
<body>
    <h1>Advance Calculator!</h1>  <br>
    <img width="20%" height="20%" src="{{url_for('static', filename='img.png') }} " />
    <form method="POST">
        <label >Enter expression</label><br><br>
        <select class="is-focused is-large" name="operation" aria-label="operationDropdown">
            <option>Choose operation</option>
            <option value="simplify">Simplify</option>
            <option value="factor">Factor</option>
        </select>
    <input placeholder="Expression" name="text">
    <input type="submit">
</form>


    <p>Your equation is {{equation}} = {{ result }}</p>

    <footer>

   <h5> Created By- Purab Singi</h5>
  
    </footer>
</body>
</html>
